<form id="petitionForm" method="post">
    <h3>
        Sign our petition about something very important that really matters to
        us!
    </h3>
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName" />
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName" />
    <label for="signature">Sign here:</label>
    <canvas width="500px" height="100px" id="signature"></canvas>
    <input style="display: none" type="text" id="sign" name="signature" />
    {{>error}}
    <div id="buttonContainer">
        <button id="submit">Submit</button>
    </div>
</form>
<button id="clear">Clear Canvas</button>

<script src="/script.js"></script>