<div class="layout">
    <form id="petitionForm" method="post">
        <h1 id="petitionHeadline">
            YOUR VOICE COUNTS!
        </h1>
        <h3>Every minute, two garbage trucks of plastic are dumped into our oceans. Currently, 8 million metric tons of plastic winds up in the oceans. That’s enough trash to cover every foot of coastline around the world with five full trash bags of plastic…compounding every year.<br><br>
            Take action by signing this petition to stop plastic pollution and its toxic impacts!
        </h3>
        <label id="signHere" for="signature">Sign here</label>
        <canvas width="500px" height="100px" id="signature"></canvas>
        <input type="hidden" type="text" id="sign" name="signature" />
        {{>error}}
        <div id="buttonContainer">
            <button id="submit">SUBMIT</button>
        </div>
    </form>
    <button id="clear">CLEAR</button>
    {{> logout}}
</div>


<script src="/script.js"></script>