<form method="post">
    <label for="age">Age</label>
    <input type="number" name="age" />
    <label for="city">City</label>
    <input type="text" name="city" />
    <label for="website">Website</label>
    <input type="url" name="website" />
    {{> error}}
    <button type="submit">CONTINUE</button>
</form>