<div class="layout">
    <h1>Thank you for your signature!</h1>
    {{#data}}
    <img src="{{url}}" alt="signature" />

    <a class="thanks" href="/signers">See all {{numSignatures}} signers</a>
    {{/data}}
    <form method="post" action="/deleteSignature">
        <button class="thanks" type="submit">Delete your signature</button>
    </form>
     
    <a class="profile" href="/profile/edit">Edit your profile</a>
    <a class="profile" href="/delete">Delete your profile</a>
    {{> logout}}
</div>