* {
    font-family: "Bitter", serif;
    color: white;
    margin: 0;
}

body {
    margin: 2em;
    background: #fff url(/pictures/background.jpg) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
p,
a {
    margin: 1em;
    text-align: center;
}

form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
canvas,
button {
    outline: none !important;
    border: 1px solid black;
}

label {
    display: block;
    margin-top: 1em;
}

input {
    padding: 1em;
    border-radius: 5px;
    width: 200px;
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

label::after {
    content: ":";
}

canvas {
    border: 1px dotted black;
    border-radius: 5px;
    display: block;
    cursor: crosshair;
    background-color: white;
}

button {
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    border-style: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
img {
    margin: 2em;
}

a {
    margin: 2em 0;
}

ul {
    margin: 2em;
}

li {
    margin: 1em;
}

li span {
    padding-left: 1em;
}
